{% extends 'base.html' %}

{% block content %}
<!-- Section header -->
<h1 class="section-header">National News</h1>
<!-- section quote -->
<div>
    <blockquote class="blockquote">
        <p class="mb-1">Whether people care enough about local news to pay for it is, sadly, 
            an entirely different question than whether our democracy requires a strong watchdog function
            at the local level to ensure safeguards against abuse, chicanery, and outright dishonesty.
        </p>
        <footer class="blockquote-footer">Eric Alterman</footer>
    </blockquote>
</div>


<div class="grid-container">


    
</div>



{% endblock %}