body {
    margin: 40px;
    background-color: rgb(230, 230, 230);
    font-family: Georgia, "Times New Roman", Times, serif;
}

.section-header {
    align-items: center;
}

.newspaper {
    columns: 3;
    background-color: rgb(226, 226, 226);
    top: justify;
}

.newspaper h2 {
    column-span: all;
}

.newspaper img {
    width: 100%;
    height: auto;
}

.publication {
    font-weight: 600;
    padding-right: 10px;
}
/* https://open.nytimes.com/css-grid-for-designers-f74a883b98f5 */
